/.apt_generated/
/target/
/.idea/
/D-SPACE4Cloud.iml
/SPACE4CloudWS.iml
/TempWorkingDir/
/WS-input/
/WS-tmp/
/log.txt*
/.classpath
/.factorypath
/.project
/.springBeans
/.settings/
/vm-instances.*.db
*swp
